@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');


.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    color: #a1a1a1;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
}

.sidebar-hidden {
    transform: translateX(-100%); /* уезжает за левый край */
}

.sidebar-top {
    height: 32px; /* Фиксированная высота */
    background-color: #1d1d1d;
    display: flex;
    flex-shrink: 0; /* Чтобы не сжималась */
    border-top-right-radius: 7px;
    justify-content: flex-end; /* ← ДОБАВЬТЕ ЭТУ СТРОЧКУ */
    align-items: center; /* ← и эту для вертикального выравнивания */
    padding-right: 7px;
}

.sidebar-bottom {
    flex: 1; /* Занимает всё оставшееся пространство */
    background-color: #2d2d2d;
    padding-top: 10px;
    display: flex;
    align-items: top;
    justify-content: top;
    border-bottom-right-radius: 7px;
    gap: 10px;
    flex-direction: column;
    outline: none;
}

/*CLOSE BUTTON*/

.close-button:focus {
    outline: none;
}

.close-button:focus-visible {
  box-shadow: none;
}

.close-button:hover {
    background: black;
}

.close-button {
    color: #4c4c4c;
    background-color: #1d1d1d;
    width: 18px; /* компромиссный размер */
    height: 18px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: none;
}

.close-glyph {
  display: block;
  transform: rotate(45deg);
  font-size: 18px; /* уменьшили соответственно */
  line-height: 1;
}

/*OTHER BUTTONS*/

.sidebar-button {
    background: #343434;
    height: 30px;
    border-radius: 7px;
    color: #a1a1a1;
    font-family: 'Afacad', sans-serif;
    font-size: 16px;
    border: none;
}

.sidebar-button:focus-visible {
  box-shadow: none;
}

.sidebar-button:hover {
    background-color: #232323;
}

.sidebar-button:focus {
    outline: none;
}